<!-- <script type="text/javascript">
  var disqus_shortname = '{{ site.disqus }}';
  var disqus_developer = 0;
  (function () {
    var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
    dsq.src = 'https://' + disqus_shortname + '.disqus.com/embed.js';
    (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
  })();
</script> -->

<script src="https://giscus.app/client.js"
        data-repo="yukmekim/yukmekim.github.io"
        data-repo-id="R_kgDOLbMWlQ"
        data-category="General"
        data-category-id="DIC_kwDOLbMWlc4CeSe0"
        data-mapping="pathname"
        data-strict="0"
        data-reactions-enabled="1"
        data-emit-metadata="0"
        data-input-position="top"
        data-theme="preferred_color_scheme"
        data-lang="ko"
        crossorigin="anonymous"
        async>
</script>